* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #DAA89B;
  color: #2C0E37;
}

.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: grid;
  place-items: center;
  font-size: calc(1.5rem + 1vw);
  height: 150px;
}

form {
  border: 1px solid red;
  background: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  gap: 5px;
}

form input {
  border: none;
  padding-left: 10px;
  background: white;
  outline: none;
}

form label {
  display: none;
}

#task {
  width: 100%;
}

button[type=submit] {
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 50%;
  width: 30px;
  height: 35px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3 linear;
}

button[type=submit]:hover {
  color: #690375;
  background: #CB429F;
}

.todoItem {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  padding: 10px;
  background-color: #CB429F;
  gap: 5px;
  margin-block-end: 5px;
  font-size: 1.2rem;
}

.completed {
  text-decoration: line-through;
  color: rgba(44, 14, 55, 0.4);
}
